.DS_Store
.dart_tool/

/.idea
/.gradle
/local.properties
local.properties
/build
/captures
/app/build
*.iml
.settings/

# Eclipse project files
.classpath
.project
/.settings

# OSX files
.DS_Store
.DS_Store?

# Windows thumbnail db
ehthumbs.db
Thumbs.db

# OS-specific files
._*
.Spotlight-V100
.Trashes

# Log Files
*.log

.packages
.pub/

build/

.flutter-plugins

.idea/
android/.gradle/
android/.idea/
android/android.iml
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/liujiaohan.xcuserdatad/
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcuserdata/liujiaohan.xcuserdatad/
