.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.idea/
android/.gradle/
android/.idea/
android/android.iml
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/liujiaohan.xcuserdatad/
ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/Runner.xcworkspace/xcuserdata/liujiaohan.xcuserdatad/
